* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

/* header styling for the entire heading START */
header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

/* header sytyling the the left side START */
.left-side-header {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

#contents {
  background: none;
}

.menu-logo {
  height: 40px;
  width: 40px;
}

#youtube {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gb {
  font-size: 0.6em;
  align-self: flex-start;
  padding-top: 10px;
}

/* header styling for the left side END */

.middle-header {
  display: flex;
}

#search-bar{
    padding: 10px;
    width: 540px;
    height: 40px;
    border: 0.5px solid rgb(140, 134, 134);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#search{
    background-color: rgb(182, 186, 182);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-side-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


