* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* scrollbars */

/* this is for the track of the scrollbar itself - you add a height and width for both the vertical and horizonal scrollers */
::-webkit-scrollbar {
  height: 0.6em;
}

/* this is for the thing you scroll on the track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

/* header styling for the entire heading START */
header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 10px;
  justify-content: space-between;
  align-items: center;
}

/* header sytyling the the left side START */

.left-side-header {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

#contents-three-lines {
  background: none;
  padding-top: 5px;
  padding-right: 10px;
}

.menu-logo {
  height: 40px;
  width: 40px;
}

#youtube {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gb {
  font-size: 0.6em;
  align-self: flex-start;
  padding-top: 10px;
  margin-right: 10px;
}

/* header styling for the left side END */

/* header styling for middle START */

.middle-header {
  display: flex;
}

#search-bar {
  padding: 10px;
  width: auto;
  height: 40px;
  border: 0.5px solid rgb(140, 134, 134);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar-grid {
  display: grid;
  grid-template-columns: minmax(0px, 540px);
}

#search {
  background-color: rgb(182, 186, 182);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

#magnify {
  height: 25px;
  width: 25px;
}

#microphone {
  height: 25px;
  width: 25px;
  align-self: center;
  margin-left: 10px;
}

#small-view-search {
  height: 25px;
  width: 25px;
  display: none;
}

/* header styling for middle END */

/* header syling for right side START */

.right-side-header {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

#bell {
  height: 30px;
  width: 30px;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(186, 12, 186);
  color: white;
  margin-left: 5px;
}

/* header syling for right side END */

/* Media query to remove search bar at ceertain width */

@media only screen and (max-width: 500px) {
  #search-bar {
    display: none;
  }
  #search {
    display: none;
  }
  #small-view-search {
    display: block;
  }
}

/* Media query to remove search bar at certain width END */

/* navbar styling for large view START */

nav {
  height: 90vh;
  width: 250px;
}

.nav-bar-large {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  height: 90vh;
  width: 250px;
  background-color: rgb(255, 255, 255);
}

.listing {
  padding-left: 22.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.gap {
  width: 95%;
  border: 0.1px solid rgb(187, 183, 183);
  align-self: flex-start;
}

.nav-logo {
  height: 25px;
  width: 25px;
}

.bigger-listing {
  font-size: 1.2rem;
}

.circle-logo {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid black;
}

.listing-chevron {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/* navbar styling for large view END */

/* navbar styling for smaller view START */

.nav-bar-small {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
  width: 250px;
  gap: 20px;
}

.listing-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50px;
}

.nav-text-small {
  font-size: 0.6rem;
}

/* navbar styling for smaller view END */

/* media query for sidebar nav START */

@media only screen and (max-width: 1310px) {
  .nav-bar-large {
    display: none;
    width: 200px;
  }
  .nav-bar-small {
    display: flex;
    width: 75px;
  }
}

@media only screen and (max-width: 375px) {
  nav {
    display: none;
  }
  
}

/* media query for sidebar nav END */

/* main area START */
main {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.suggestion-area{
  display: flex;
  flex-direction: column;
}

.categories {
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 5px 10px 0px 10px;
  gap: 20px;
  overflow-x: hidden;
  padding-right: 15%;
}

.category-listing {
  height: 30px;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  cursor: pointer;
}

.scrollers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding-left: 180px;
  gap: 10px;
  font-size: 24px;
}

.scroll-left-chevron, .scroll-right-chevron{
  cursor: pointer;
  user-select: none;
}

.scroll-left-chevron:hover, .scroll-right-chevron:hover{
  scale: 1.2;
}

/* media query for chevron positioning */
@media only screen and (max-width: 1310px) {
  .scrollers {
    padding-left: 150px ;
  }
}

@media only screen and (max-width: 375px) {
  .scrollers {
    padding-right: 60px ;
  }
  
}

/* main area end */

